* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.game {
  text-align: center;
}
.board {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(3, 200px);
  justify-content: center;
}
.square {
  cursor: pointer;
  width: 200px;
  height: 200px;
  font-size: 40px;
}
.reset {
  width: 200px;
  height: 50px;
}
